<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
<ul>
    <li><a href="/video-to-audio">Video to Audio</a></li>
    <li><a href="/video-to-frame">Video to Frame</a></li>
    <li><a href="/audio-to-text">Audio to Text (Google)</a></li>
    <li><a href="/google-sentiment-analysis">Sentiment Analysis (Google)</a></li>
    <li><a href="/audio-analysis">Audio Analysis (PyAudio)</a></li>
    <li><a href="/loughran-sentiment-analysis">Sentiment Analysis (LoughranMcDonald)</a></li>
    <li><a href="/face-plus-plus">Face Analysis (Face++)</a></li>
    <li><a href="/facebook-sentiment-analysis">Sentiment Analysis (Facebook)</a></li>
    <li><a href="/word-to-text">Word to Text</a> </li>
    <li><a href="/azure-face">Azure Face Analysis</a></li>
</ul>
</body>
</html>